.in-layout-builder {
  border: 1px dashed #a2a2a2;
  margin: 2.6rem 1rem 1rem 1rem;
  position: relative;
}

.uw-admin-label {
  position: absolute;
  top: -1.8rem;
  left: -1px;
  background-color: #6a6a6a;
  color: white;
  padding: 0.2rem 1rem;
}

.layout-builder__section section {
  /* position: relative; */
}

.layout-builder__section [data-expand-collapse-group],
.layout-builder__section [data-expand-collapse-header] {
  position: relative;
  margin-top: 0.6rem;
}

.layout-builder__section [data-expand-collapse-group]::before,
.layout-builder__section [data-expand-collapse-header]::before {
  font-family: Typ1451-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans", Ubuntu, Cantarell, "Fira Sans", Droid Sans, sans-serif;
  font-size: 12.6px;
  position: absolute;
  top: -0.6rem;
  left: -2px;
  background-color: #6A6A6A;
  color: white;
  padding: 0.2rem 1rem;
}

.layout-builder__section [data-expand-collapse-group]::before {
  content: "Expand/collapse group " open-quote attr(data-expand-collapse-group) close-quote;
}

.layout-builder__section [data-expand-collapse-header]::before {
  content: "Expand/collapse group " open-quote attr(data-expand-collapse-group) close-quote " with header " open-quote attr(data-expand-collapse-header) close-quote;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .js-layout-builder-category a,
#drupal-off-canvas-wrapper .js-layout-builder-category a {
  display: block;
}

.uw-exp-col .in-layout-builder {
  border: 0;
}

.uw-exp-col .layout__region {
  outline: 0;
}

.uw-exp-col .in-layout-builder .uw-admin-label {
  display: none;
}
