/* Things that should only apply to the dashboard.
 * (Always prefix with .dashboards-container to make sure.)
 */
.dashboards-container .layout__region {
  padding: 1rem;
  border: 1px solid #bfbfba;
}
.dashboards-container .layout__region div:first-child > h2:first-child {
  margin-top: -0.5rem;
}
.dashboards-container .layout__region h2 {
  background: #E0E0D8;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.5rem 1rem;
}
.dashboards-container ul {
  margin: 0;
  padding: 0;
}
.dashboards-container .view-uw-view-wcms-news ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dashboards-container .view-uw-view-wcms-news li,
.dashboards-container .block-uw-site-management-menu-block li {
  margin-top: 0.25rem;
}
.dashboards-container .block-uw-site-management-menu-block li {
  margin-left: 1rem;
}
.dashboards-container .dashboard-news-date {
  display: inline-block;
  width: 6rem;
}

